* {
  box-sizing: border-box;
  height: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 5% 5% 30%;
}
.enterBTN {
  background-color: cornflowerblue;
  height: 80%;
  border-color: crimson;
  width: 50%;
  }

.enterBTNCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logoutBTN {
padding-left: 70%;

}

img {
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%
}

.App {
  height: 100%; 
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.thread-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  max-width: auto;

}
/* //// container //// */
 /* .thread-box {
  width: 1000px;
  max-width:  auto;
  margin: 0 auto;
  border: solid  black 10px;
  border-radius: 5px; 
  overflow: hidden;
 }  */

 /* message */
.line {
  padding: 5%;
  transform: rotate(180deg);
  direction: ltr;
}

input {
  width: 100%;
  border: none;
  font-size: inherit;
  padding: 10px;
  background-color: lightblue;
}

.yourMessage {
  background-color: lightblue;
  border-radius: 30%;
  min-width: 200px;
  
}

.myMessage {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 30%;
  min-width: 200px;
}

/* .noShow {
  display: none
}
.show{
  background-color: lightblue;
  border-radius: 10%;
} */

.scroll {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 300px;
  /* max-height: 300px;
  min-height: 300px; */
  width: 800px;

}

.welcome  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35%;
}


@media(max-width:800px){


  body {
    height: 800px;
    background-color:white;
  }

  #root {
    height: 800px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .welcomeCont{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    background-color: #16BAC5;
    align-self: center;
  }

  .welcomeCont h1{
    align-self: center;
    background-color: white;

  }

  .thread-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 500px;
    /* max-width: auto; */
    background-color: #FFECCC;
  
  }

  .thread-box {
    margin-top: 70px;
    width: 90%;
    height: 450px;
  }

  .scroll {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 300px;
    width: 100%;
  
  }

  .agentBarDiv {
    height: 250px;
  }


  .loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
  }

  .loginForm input{
    background-color: #faf6f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    font-size: 500%;
    color: #f39ea9;
  }

  .imgInpt{
    font-size-adjust: initial;
    font-size: 10px;
    background-color: #5FBFF9;
  }

  .loginBTN {
    background-color:#f39ea9;
    height: 40%;
    font-size: 450%;
  }

  .enterBTNCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
  }

  .enterBTN {
    background-color: #5FBFF9;
    /* height: 80%; */
    border-color: rgb(7, 7, 7);
    width: 100%;
    height: 200px;
    font-size: 40px;
    }
    
}