* {
  box-sizing: border-box;
  height: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 5% 5% 30%;
}

.enterBTN {
background-color: cornflowerblue;
height: 80%;
border-color: crimson;
width: 50%;
}
.enterBTNCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%
}

.App {
  height: 100%; 
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.thread-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  max-width: auto;

};
/* //// container //// */
 .thread-box {
  width: 1000px;
  max-width:  auto;
  margin: 0 auto;
  border: solid  black 10px;
  border-radius: 5px; 
  overflow: hidden;
 } 

 /* message */
.line {
  padding: 5%;
  transform: rotate(180deg);
  direction: ltr;
}

input {
  width: 100%;
  border: none;
  font-size: inherit;
  padding: 10px;
  background-color: lightblue;
}

.yourMessage {
  background-color: lightblue;
  border-radius: 30%;
  min-width: 200px;
  
}

.myMessage {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 30%;
  min-width: 200px;
}

/* .noShow {
  display: none
}
.show{
  background-color: lightblue;
  border-radius: 10%;
} */

.scroll {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 300px;
  /* max-height: 300px;
  min-height: 300px; */
  width: 800px;

}

.welcome  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}